#header {
  background-color: blue;
  color: yellowgreen;
  padding: 20px;
  text-align: center;
}

#portofolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.project {
  width: auto;
  margin: 40px;
  padding: 50px;
  border: 2px solid #ccc;
}

.project img {
  width: 100%;
  height: 80%;
}

#contact {
  background-color: aqua;
  padding: 10px;
  text-align: center;
}

#footer {
  background-color: aqua;
  color: aliceblue;
  padding: 10px 0;
  text-align: center;
}
